body {
  background-color: #D5D5D5;
}
body * {
  box-sizing: border-box;
}

.header {
  background-color:#E0BB24 ;
  color: white;
  font-size: 1.5em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  width:100%;
}


.table-users {
  border: 1px solid #D5D5D5;
  border-radius: 10px;
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.2);
  max-width: calc(100% - 2em);
  margin: 1em auto;
  overflow: hidden;
  width: 800px;
}

table {
  width: 100%;
}
table td, table th {
  color: #2b686e;
  padding: 10px;
}
table td {
  text-align: center;
  vertical-align: middle;
}
table td:last-child {
  font-size: 0.95em;
  line-height: 1.4;
  text-align: left;
}
table th {
  background-color: #FFDA67;
  font-weight: 300;
}
table tr:nth-child(2n) {
  background-color: white;
}
table tr:nth-child(2n+1) {
  background-color: #FCF7D2;
}

@media screen and (max-width: 700px) {
  table, tr, td {
    display: block;
  }
 .table-users {
  border: 1px solid #D5D5D5;
  border-radius: 10px;
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.2);
  max-width: calc(100% - 2em);
  margin: 1em auto;
  overflow: hidden;
  width: 300px;
}
  td:first-child {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 150px;
  }
  td:not(:first-child) {
    clear: both;
    margin-left: 100px;
    padding: 4px 20px 4px 90px;
    position: relative;
    text-align: left;
  }
  td:not(:first-child):before {
    color: #91ced4;
    content: '';
    display: block;
    left: 0;
    position: absolute;
  }
  

  tr {
    padding: 10px 0;
    position: relative;
  }
  tr:first-child {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  table, tr, td {
    display: block;
  }

 .table-users {
  border: 1px solid #D5D5D5;
  border-radius: 10px;
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.2);
  max-width: calc(100% - 2em);
  margin: 1em auto;
  overflow: hidden;
  width: 300px;
  margin-left: 35px;
}
  td:first-child {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 150px;
  }
  td:not(:first-child) {
    clear: both;
    margin-left: 100px;
    padding: 4px 20px 4px 90px;
    position: relative;
    text-align: left;
  }
  td:not(:first-child):before {
    color: #91ced4;
    content: '';
    display: block;
    left: 0;
    position: absolute;
  }
  

  tr {
    padding: 10px 0;
    position: relative;
  }
  tr:first-child {
    display: none;
  }
}


@media screen and (max-width: 400px) {
  table, tr, td {
    display: block;
  }

 .table-users {
  border: 1px solid #D5D5D5;
  border-radius: 10px;
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.2);
  max-width: calc(100% - 2em);
  margin: 1em auto;
  overflow: hidden;
  width: 300px;
  margin-left: 10px;
}
  td:first-child {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 150px;
  }
  td:not(:first-child) {
    clear: both;
    margin-left: 100px;
    padding: 4px 20px 4px 90px;
    position: relative;
    text-align: left;
  }
  td:not(:first-child):before {
    color: #91ced4;
    content: '';
    display: block;
    left: 0;
    position: absolute;
  }
  

  tr {
    padding: 10px 0;
    position: relative;
  }
  tr:first-child {
    display: none;
  }
}

@media screen and (max-width: 300px) 
{
   .table-users {
  border: 1px solid #D5D5D5;
  border-radius: 10px;
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.2);
  max-width: calc(100% - 2em);
  margin: 1em auto;
  overflow: hidden;
  width: 250px;
  margin-left: 1px;

}
    td:first-child {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 150px;
         font-size: 70%;
  }
  td:not(:first-child) {
    clear: both;
    margin-left: 100px;
    padding: 4px 10px 4px 45px;
    position: relative;
    text-align: left;
   
  }
  td:not(:first-child):before {
    color: #91ced4;
    content: '';
    display: block;
    left: 0;
    position: absolute;
  }
  
  tr {
    padding: 5px 0;
    position: relative;
  }
  tr:first-child {
    display: none;
  }
}