#error {
    color:red;
    font-weight: normal;
}

div {
    padding: 15px;
}

body {
    /* background-image: url('../images/bg.jpg'); */
}

#formHallBooking {
    padding: 5%;
    font-weight: bold;
    background-color: #E5E1E0;
    width: 60%;
}

#submit-button:hover {
    background: #494848;
    color: white;
    font-weight: bold;
    cursor:pointer;
}

#submit-button {
    background: #494848;
    color:white;
    cursor:pointer;
}

#formHallBooking {
    margin-top: 5%;
}

#hallBookingErrorMsg {
    color: red;
    text-align: center;
    display: block;
}
        
#form-title {
    background-color:#494848;
}

h1 {   
    color: white;
}

#termsCheckbox {
    height: 13px;
    width: 13px;
}
        
@media only screen and (max-width: 500px) {
    h1 {
        font-size: 15px;
    }
      
    #submit-button {
        font-size:15px;
    }
}