body {
    /* background-image: url("../images/bg.jpg"); */
    margin: 0px;
}

#close {
    display: inline-block;
    /*float: right;*/
    padding: 2px 5px;
    background: #dcc;
}

#form-projects {
    margin-top: 5%;
}

#file-upload {
    display: none;
}

.sname, .service_specs, .service_price {
    width: 30%;
    margin-left: 10px;
    margin-top: 5px;
}

.material_name, .material_specs, .material_quantity, .material_price, .material_vendor, .material_purpose {
    width: 30%;
    margin-left: 10px;
    margin-top: 5px;
}

.mem-name, .mem-roll {
    width: 30%;
    margin-left: 10px;
}

#add-mem, #add-s, #add-m {
    margin-top: 10px;
}

#projectsFormMsg { 
    color: red;
    text-align: center;
    display: block;
}

#error {
    color:red;
    font-weight: normal;
}

div {
    padding: 15px;
}

#form-projects {
    width: 60%;
    padding:5%;
    font-weight: bold;
    background-color: #E5E1E0;
}
        
.head-def {
    font-size: 10px;
}

.form_buttons {
    background-color: #494848;
    border-radius: 5px;
    padding: 10px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

#abs-writeup {   
    border-style: solid;
    border-width:0.1em;
    border-color: #C9CACA;
    padding: 5px;
    border-radius:0.3em;
    background-color: white;
}

#project-abstract {
    width: 50%;
    font-weight: normal;
}

span#project-abstract[contenteditable]:empty::before {
    content: 'Write your abstract here';
    display: inline-block;
    color: #C9CACA;
}
        
#form-title {
    background-color:#494848;
}

h1 {   
    color: white;
}
        
.image {
    position: relative;
    width: 100%;
    height: auto;
}

#submit-button {
    background: #494848;
    color: white;
}
        
#submit-button:hover {
    background: #494848;
    color: white;
    font-weight: bold;
    cursor:pointer;
}
        
#format-image:hover {
    opacity: 0.7;
    cursor:pointer;
}

#termsCheckbox {
    height: 13px;
    width: 13px;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 15px;
    }
      
    #submit-button {
        font-size:15px;
        cursor:pointer;
    }
      
    #file-link {
        font-size: 15px;

    }
}