body {
    /* background-image: url("../images/bg.jpg"); */
}

#facilitiesFormMsg { 
    color: red;
    text-align: center;
    display: block;
}

#error {
    color:red;
    font-weight: normal;
}

div {
    padding: 15px;
}

#form-projects {
    width: 60%;
    margin-top: 5%;
    padding:5%;
    font-weight: bold;
    background-color: #E5E1E0;
}

.head-def {
    font-size: 10px;
}

#submit-button {
    background: #494848;
    cursor:pointer;
    color: white;
}

#submit-button:hover {
    background: #494848;
    cursor:pointer;
    color: white;
    font-weight: bold;
}

#form-title {
    background-color:#494848;
}

h1 {   
    color: white;
}

#termsCheckbox {
    height: 13px;
    width: 13px;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 15px;
    }
    #submit-button {
        font-size:15px;
    }
}