@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);

.complete-div{
    align-items: center;
    justify-content: center;
}

.resources-pill {
    background-color: #DCDCDC;
    color:black;
    cursor: pointer;
}
#resources-pills {
    margin-left:10%;
}
#resources .container {
    padding-right: 0px;
    overflow: hidden;
}
/* #toolsFooter {
  position: absolute;
  right: 0;
  bottom: 0;
  left:0;
} */


.nav-pills > li.active > a,
.nav-pills > li.active > a.resources-pill:hover,
.nav-pills > li.active > a.resources-pill:focus {
    background-color: #E0BB24;
    color: black;
}

body{
    font-family: 'Quicksand', sans-serif;
}

.gal-container{
	/*padding: 12px;*/
    padding-left: 15px;
}

.gal-item{
	overflow: hidden;
	padding: 3px;
}

.gal-item .box{
	height: 350px;
	overflow: hidden;
}

.box img{
	height: 100%;
	width: 100%;
	object-fit:cover;
	-o-object-fit:cover;
}

.gal-item a:focus{
	outline: none;
}

.gal-item a:after{
	content: attr(data);
	font-family: 'Karla', sans-serif;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 3px;
	left: 3px;
	top: 3px;
	bottom: 3px;
	text-align: center;
    line-height: 350px;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

.gal-item a:hover:after{
	opacity: 1;
}

.modal-open .gal-container .modal{
	background-color: rgba(0,0,0,0.4);
}

.modal-open .gal-item .modal-body{
	padding: 0px;
}

.modal-open .gal-item button.close{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}

.modal-open .gal-item button.close:focus{
	outline: none;
}

.modal-open .gal-item button.close span{
	position: relative;
	top: -3px;
	font-weight: lighter;
	text-shadow:none;
}

.gal-container .modal-dialogue{
	width: 80%;
}

.gal-container .description{
	position: relative;
	height: 40px;
	top: -40px;
	padding: 10px 25px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	text-align: left;
}

.gal-container .description h4{
	margin:0px;
	font-size: 15px;
	font-weight: 300;
	line-height: 20px;
}

.gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
}

@media (min-width: 768px) {
    .gal-container .modal-dialog {
        width: 55%;
        margin: 50 auto;
    }
}

@media (max-width: 768px) {
    .gal-container .modal-content{
        height:250px;
    }
}

/* Footer Style */

i.red{
    color:#BC0213;
}

.gal-container{
    padding-top :75px;
    padding-bottom:75px;
}

footer{
    font-family: 'Quicksand', sans-serif;
}

footer a,footer a:hover{
    color: #88C425;
}

/* new card */

.card-container{
    background: transparent;
    position: relative;
    /* min-width: 400px; */
    min-width: 1200px;
    margin-top: -70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    flex-wrap: wrap;
    padding: 25px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);

    /* margin: 0px 10px;
    padding: 12px;
    display: inline-block;
    width: 155px;
    z-index: 0; */
    
}

.card-container .card{
    position: relative;
    max-width: 300px;
    min-width: 260px;
    height: 203px;
    margin: 30px 13px;
    padding: 20px 10px;
    background: #E0BB24;
    flex-direction: column;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    transition: 0.4s ease-in-out;
}

.card-container .card:hover{
    height: 465px;
}

.card-container .card .imgBx{
    position: relative;
    width: 242px;
    height: 260px;
    top: -50px;
    z-index: 1;
}

.card-container .card .imgBx img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.card-container .card .content{
    position: relative;
    text-align: center;
    margin-top: -140px;
    color: #232;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease-in;
}

.card-container .card .content .card-btn{
    text-decoration: none;
    background-color: #faf;
    color: #121;
}

.card-container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -120px;
    transition-delay: 0.2s;
}

/* new card END */



.tool-container {
    margin: 0px 10px;
    padding: 12px;
    display: inline-block;
    width: 155px;
    position: relative;
    z-index: 0;
  }
  
  
  .tool-container:hover {
    z-index: 100;
  }
  
  .tool-container:hover > .info-details {
    animation: fadeInUp 0.5s ease 0s 1 forwards;
  }
  
  
  .tool-details {
    position: relative;
    z-index: 20; /* Has to be more than the z-index of inner-details on hover */
  }
  
  .tool-details .tool-image {
    border-radius: 50%;
    width: 131px;
    height: 131px;
  }
  
  .tool-details .tool-name {
    color: white;
    font-size: 14px;
  }
  
  .info-details {
    position: absolute;
    padding-top: 180px;
    padding-bottom: 20px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 15;
    opacity: 0;
    border-radius: 5px;
  }
  
  .info-details h5 {
    color: white;
    font-weight: 100;
  }
  
  /* Social Info Div - Github and Linkedin icons */
  .descript-info {
    padding-top: 10px;
  }
  
  .descript-info span {
    display: inline-block;
    width: 30%;
  }
  
  .descript-info i {
    font-size: 26px;
    color: white;
  }


  /* media */
  @media(max-width:1150px) {
    .card-container
    {
        min-width: 1000px;
    }
}

@media(max-width:1000px) {
    .card-container
    {
        min-width: 900px;
    }
}

@media(max-width:800px) {
    .card-container
    {
        min-width: 650px;
    }
}

@media(max-width:620px) {
    .card-container
    {
        min-width: 500px;
    }
}

@media(max-width:500px) {
    .card-container
    {
        min-width: 400px;
    }
}

#toolPictures .btn-group {
    margin-bottom: 15px;
  }
  
  #toolPictures .active-batch {
    background-color: white;
    color: #414141;
  }

  /* card-continer, min width */

  