<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1><span style="background-color: white;padding: 3px 10px 3px 10px; border-radius: 13px;">Projects</span></h1>

            <div class="form-group" style="width :100px; margin: auto;">
                <label for="year">Select Year:</label>
                <select class="form-control" id="year" ng-model ='choice.year' ng-model-instant>
                    <option value="all" selected>All</option>
                    <option value="{{y}}" ng-repeat="y in years">{{y}}</option>
                </select>
            </div> 
            
        </div>
    </div>
</div>
<!-- <div class="tab-content" id="resources">
    <div class="container gal-container">
       <div ng-repeat="x in adminProjectNames" class="col-md-4 col-sm-6 co-xs-12 gal-item">
              <div class="box">
                <a data="{{x.projectTitle}}" data-toggle="modal" data-target="#{{x.projectTitle}}"><img src="{{x.projectImage}}" /></a>
                <div class="modal fade" id="{{x.projectTitle}}" tabindex="-1" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="model-content">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#215;</span></button>
                      <div class="modal-body"><img src="{{x.projectImage}}" /></div>
                      <div class="col-md-12 row h-50 description">
                        <h4><strong>{{x.projectTitle}}</strong>   <em>{{x.projectDesc}}</em></h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div> -->
    
<!-- <div class="adminProject" class="tab-pane fade">
    <div class="container-fluid" style="margin-top: 3%">
        <div ng-repeat="x in adminProjectNames">
            <div class="col-md-12">
                <div class="adminProjectList">
                    <div class="table-responsive" id="adminProjectListDisplay">
                        <table style="margin:auto;width:50%;"    class="table borderless text-centered">
                            <thead>
                                <tr>
                                  <th class="text-center">{{x.projectTitle}}</th>
                                </tr>
                                <tbody id="fixed-width">
                                    <th><img src="{{x.projectImage}}" alt="Responsive image"></th>
                                    <th>{{x.projectDesc}}</th>
                                </tbody>
                            </thead>
                        </table><br>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div> -->

    <div class="row" style="margin: 20px auto;">
        <div class="card-deck">
            <div class="col-md-4 col-sm-6 co-xs-12" ng-repeat="x in adminProjectNames" ng-show = 'filter_Cards(x)' style="margin-bottom: 100px;">
                <div class="card text-center" style="padding: 50px;background: #ebebeb; border-style:outset;">
                    <img  class="card-img-top" style="width: 100%; height: 300px;"  src="{{x.projectImage}}" alt="Card image cap">
                    <div class="card-body" style="display:block; height: 300px; width :calc(100%);">
                        <h3 class="card-title"><strong>{{x.projectTitle}}</strong></h3>
                        <p style=" height: 250px; width :calc(100%); word-wrap: break-word; overflow-y: auto; text-overflow: ellipsis;" class="card-text"><em>{{x.projectDesc}}</em></p>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!-- <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div> -->

<!-- Footer -->
<!-- <div class="footer" class="container" id="projectsFooter">
    <div class="row">
        <div class="col-md-4">
            <p>Copyright &copy; ScientLab website 2017</p>
        </div>
    	<div class="col-md-4">
    		<img class="img-responsive" id="scient_logo_footer" src="images/scient-logo.png" height="130" width="130" />
		</div>
    	<div class="col-md-4">
        	<img class="img-responsive" id="recal_logo_footer" src="images/recal.png" height="200" width="200" />
    	</div>
    </div>
</div> -->

<!-- <div class="footer" class="container" id="projectsFooter">
    <div class="row">
            <p class="copyright-text">Copyright &copy; ScientLab website 2017</p>
            <img class="img-responsive recal_logo_footer" src="images/recal.png" height="75" width="182" />
    </div>
</div> -->

<!-- Footer -->
<!-- <div class="footer" class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <img class="img-responsive recal_logo_footer" src="images/recal.png" height="75" width="182" />
            <p id="footer-text">An initiative of the class of '90</p>
        </div>
        <div class="col-md-2">
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="contacts-fa">
                    <a target="_blank" href="https://www.facebook.com/ScientNITT/"><i class="fa fa-facebook-square fa-3x" ></i></a>
                </li>
                <li class="contacts-fa">
                    <a target="_blank" href="#!Contacts"><i class="fa fa-envelope fa-3x" ></i></a>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <p id="spider">Made By Spider</p>
            <img class="img-responsive spider-logo" src="images/spiderLogo.png" height="45" width="45" />
            <p class="copyright-text">Copyright &copy; ScientLab website 2017</p>
        </div>
        <div class="col-md-3"></div>
    </div>
</div> -->