<!-- Main Script -->



<div id="main-body-container">

    <div class="container">
        <div class = "row">
          <div class = "col-lg-12 text-center">
            <h1><span style="background-color: #f1f1f1;padding: 3px 10px 3px 10px; border-radius: 13px;">Resources</span></h1>
          </div> 
        </div>
      </div>
      <!-- <br> -->
      
    <section id="toolPictures" class="hcenter">
 
        <br>
        <!--present members batchButton-->	
        <div id="batchButtons" class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default btn-lg dark-button small-mobile" onclick="clickAllTools()">All</button>
            <button type="button" class="btn btn-default btn-lg dark-button large-mobile" onclick="clickElectronics()">Electronics Tools</button>
            <button type="button" class="btn btn-default btn-lg dark-button large-mobile" onclick="clickMechanical()">Mechanical Tools</button>
        </div>
        

        <!-- <div id="allMembersContainer"> -->
            <div class="card-container">

            </div>
        <!-- </div> -->

    </section>
</div>

<!-- Main Script -->
<script src="js/tools.js"></script>






    <!-- <div class="container"> -->
    <!-- <div class = "row">
        <div class = "col-lg-12 text-center">
        <h1><span style="background-color: #f1f1f1;padding: 3px 10px 3px 10px; border-radius: 13px;">Resources</span></h1>
        </div> 
    </div> -->

    <!-- <br><br> -->



        <!-- <div class="row" style="margin-top:15px;">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <ul class="nav nav-pills" id="resources-pills">
                    <li class="active"><a class="resources-pill" data-toggle="pill" data-target="#electronics">Electronics Tools</a></li>
 
                    <li><a class="resources-pill" data-toggle="pill" data-target="#mechanical">Mechanical Tools</a></li>
 
                </ul>
            </div>
            <div class="col-md-4"></div>
        </div> -->

    <!-- </div> -->


<!-- 
    <div class="tab-content" id="resources">
        <section class="tab-pane fade in active row" id="electronics"> -->
        <!-- <div class="container gal-container">

            <div ng-repeat="x in tronixFileNames" class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a data="{{x | split:'.':0 | changeHyphen }}" data-toggle="modal" data-target="#{{x |split:'.':0}}"><img src="images/tools/electronics/{{ x }}"></a>
                    <div class="modal fade" id="{{x |split:'.':0}}" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#215;</span></button>
                                <div class="modal-body"><img src="images/tools/electronics/{{ x }}" /></div>
                                <div class="col-md-12 description">
                                    <h4>{{x | split:'.':0 | changeHyphen }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>     
        </div>      -->

        <!-- <div class="card-container"> -->
            <!-- <div class = "card">
                <div class = "imgBx">
                    <img src = "./images/nitt-logo.png">
                </div>
                <div class = "content">
                    <h2> tool name </h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia dolor illum similique doloribus aut odit optio aliquam, aspernatur provident impedit?</p>
                    <a href="" target="_blank"><button class="card-btn">Read More</button></a>
                </div>
            </div> -->
        <!-- </div>

        </section> -->

    <!-- <section class="tab-pane fade row" id="mechanical"> -->
        <!-- <div class="container gal-container">
            <div ng-repeat="x in mechFileNames" class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a data="{{x | split:'.':0 | changeHyphen }}" data-toggle="modal" data-target="#{{x |split:'.':0}}"><img src="images/tools/mechanical/{{ x }}"></a>
                    <div class="modal fade" id="{{x |split:'.':0}}" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#215;</span></button>
                                <div class="modal-body"><img src="images/tools/mechanical/{{ x }}" /></div>
                                <div class="col-md-12 description">
                                    <h4>{{x | split:'.':0 | changeHyphen }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>          
        </div>  -->
        

        
        <!-- <div class="card-container">
            <div class = "card">
                <div class = "imgBx">
                    <img src = "./images/scient-logo.png">
                </div>
                <div class = "content">
                    <h2> tool name </h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia dolor illum similique doloribus aut odit optio aliquam, aspernatur provident impedit?</p>
                    <a href="" target="_blank"><button class="card-btn">Read More</button></a>
                </div>
            </div>

            <div class = "card">
                <div class = "imgBx">
                    <img src = "./images/nitt-logo.png">
                </div>
                <div class = "content">
                    <h2> tool name </h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia dolor illum similique doloribus aut odit optio aliquam, aspernatur provident impedit?</p>
                    <a href="" target="_blank"><button class="card-btn">Read More</button></a>
                </div>
            </div>
        </div> -->
    <!-- </section> -->


<!-- </div> -->